header {
    background-image: url(../images/chicago.jpg);
    background-repeat: no-repeat;
    background-size: 90% cover;
    background-position: center;
    height: 600px;
    padding: 120px;
}
header h1 {
    color: white;
}   
header a {
    background-color: pink;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

main {
    text-align: center;
}
div {
    display: inline-block;
    text-align: center;
    width: 450px;
    height: 150px;
}
.box {
    padding: 40px;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 5px;
}
div.box:nth-child(1) {
    background-color: green;
}
div.box:nth-child(2) {
    background-color: purple;
}
div.box:nth-child(3) {
    background-color: blue;
}

div h3 {
    font-size: 32px;
}
p.name {
    border-top: solid 1px;
    border-color: white;
    padding-top: 10px;
}
